<%= render 'nav_resume' %>

<%= render 'ingredients/list_resume' %>

<%= render 'item_header' %>

<%= render 'item_menu' %>

<% content_for :item_content do %>

  <p><strong>Modifier le type d'ingrédient</strong></p>

  <%= render 'form' %>

  <%= link_to 'Annuler', @ingredient_type %>

<% end %>


