<%= render 'nav_resume' %>

<%= render 'ingredients/list_resume' %>

<%= render 'item_header' %>

<% content_for :content_menu do %>
    > <%= link_to 'Modifier', edit_ingredient_type_path %><br>
    > <%= link_to 'Supprimer', ingredient_type_path(@ingredient_type),
                method: :delete,
                data: { confirm: 'Confirmer la suppression ?' } %><br>
    > <%= link_to 'Liste des types', ingredient_types_path %>
<% end %>

<% content_for :item_content do %>
  <p>
    <strong>Unité de mesure : </strong>
    <%= @ingredient_type.mesure_unit %>
  </p>

  <p>
  <strong>Types de recettes associées</strong>
    <ul>
      <% @ingredient_type.recipe_types.each do |rt| %>
        <li> <%= link_to rt.name, rt %> </li>
     <% end %>
   </ul>
  </p>

  <strong>Ingrédients disponibles</strong>
    <ul>
      <% @ingredient_type.ingredients.each do |i| %>
        <li> <%= link_to i.name, i %> </li>
     <% end %>
   </ul>
  </p>


<% end %>
