<%= render 'nav_resume' %>
<%= render 'menu' %>
<%= render 'header' %>

<% content_for :item_content do %>

  <div class="subcontent">
    <div class="title">
      Infos
    </div>
    <span class="highlight">Nom abrégé : </span>
    <%= @ingredient_type.name_short %>
    <br>
    <span class="highlight">Unité de mesure : </span>
    <%= @ingredient_type.mesure_unit %>
    <br>
    <span class="highlight">Densité : </span>
    <%= @ingredient_type.density %>
  </div>

  <div class="subcontent">
    <div class="title">
      Types de recettes associées
    </div>
    <ul>
      <% @ingredient_type.recipe_types.each do |rt| %>
        <li> <%= link_to rt.name, rt %> </li>
     <% end %>
   </ul>
  </div>

  <div class="subcontent">
    <div class="title">
      Ingrédients disponibles
    </div>
    <ul>
      <% @ingredient_type.ingredients.each do |i| %>
        <li> <%= link_to i.name, i %> </li>
     <% end %>
    </ul>
  </div>
  
  <div class="subcontent">
    <div class="title">
      Liste des conteneurs standards
    </div>
    <% if @container_references.any? %>
      <table>
        <tr>
          <th>Volume</th>
          <th>Masse</th>
          <th></th>
        </tr>
        <% @container_references.each do |cr| %>
          <tr>
            <td><%= cr.volume %>ml</td>
            <td><%= cr.mass %>g</td>
            <td><%= link_to 'Modifier', 
                  edit_ingredient_type_container_reference_path(@ingredient_type,cr) %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <i>Pas de conteneur standard pour ce type d'ingrédient</i>
    <% end %>
  </div>
  
<% end %>
