<% content_for :content_header do %>
  <span class="title">Modifier mon mot de passe</span>
<% end %>

<%= menu_item(menu: :content_menu, 
     path: user_path(@user), label: 'Annuler') %>
<%= menu_item(menu: :content_menu, 
     path: user_path(@user), label: 'Supprimer compte', 
     link_param: {method: :delete, data: { confirm: 'Voulez-vous supprimer cet utilisteur ?' }}) %>

<% content_for :item_content do %>

  <div class="basic-content">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Changer de mot de passe</span>
  
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put) do |f| %>
        
        <%# form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
        
          <%= f.input :current_password, label: 'Mot de passe actuel', autofocus: false  %>
        
          <%= f.input :password, label: 'Nouveau mot de passe', autofocus: false  %>
        
          <%= f.input :confirm_password, label: 'Confirmation du nouveau mot de passe', autofocus: false  %>
        
          <div class="card-action"> 
              <%= f.button :submit, 'Modifier', class: "btn btn-primary"  %>
              <%= link_to( 'Annuler', :back )%>
          </div>
         
          <% if false #devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
        <% end %>

      </div>
    </div>
  </div>
<% end %>
