<% content_for :content_header do %>
  <span class="title">Modifier mon mot de passe</span>
<% end %>

<%= menu_item(menu: :content_menu, 
     path: user_path(@user), label: 'Annuler') %>
<%= menu_item(menu: :content_menu, 
     path: user_path(@user), label: 'Supprimer compte', 
     link_param: {method: :delete, data: { confirm: 'Voulez-vous supprimer cet utilisteur ?' }}) %>

<% content_for :item_content do %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label 'Nouveau mot de passe' %> <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Confirmation du nouveau mot de passe' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Mot de passe actuel' %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Mettre à jour" %>
  </div>
<% end %>

<% end %>
