<% content_for :content_header do %>
  <span class="title">Nouvel utilisateur</span>
<% end %>

<%# render "devise/shared/links" %>

<% content_for :item_content do %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% devise_error_messages! %>
  
        <%= f.input :name, :required => true, autofocus: true, label: :Nom  %>
        
        <%= f.input :email, :required => true, placeholder: 'user@domain.com', label: :Email  %>
    
        <%= f.input :password, autocomplete: "off", label: 'Mot de passe' %>
    
        <%= f.input :password_confirmation, autocomplete: "off", label: 'Confirmation du mot de passe' %>
          
        <%= f.input :role_id, collection: Role.all, 
              label_method: :name, value_method: :id,
              selected: 4,
              label: 'Role demandé', include_blank: false %>
        
        <div class="form-group">
          <%= f.button :submit, 'Créer utilisateur', class: "btn btn-primary" %>
        
          <%= link_to('Annuler', :back, class: "btn btn-default") %>
        </div>


      <% end %>
    </div>
  </div>
<% end %>
