<% content_for :javascript_includes do %>
  <%= javascript_include_tag "dataTables.js" %>
<% end %>

<% render 'menu' %>

<% content_for :content_header do %>
  <span class="title">Gestion des ingrédients</span>
<% end %>

<% content_for :item_content do %>

  <table class='data-table stripe'>
    <thead>
      <tr>
        <th>Type</th>
        <th>Ingredient</th>
        <th>Modified</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |i| %>
        <tr>      
          <td><%= i.type.name %></td>
          <td><%= i.name %></td>
          <td><%= i.updated_at.strftime("%Y-%m-%d") %></td>
          <td><%= link_to 'Edit', edit_ingredient_path(i)%></td>
       </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
