<% content_for :javascript_includes do %>
  <%= javascript_include_tag "dataTables.js" %>
<% end %>

<% render 'menu' %>

<% content_for :content_header do %>
  <span class="title">Gestion des utilisateurs</span>
<% end %>

<% content_for :item_content do %>
  <% if current_user.admin? then %>
  <p>
    <table class='data-table stripe'>
      <thead>
      <tr>
          <th></th>
          <th>id</th>
          <th>Nom</th>
          <th>email</th>
          <th>approved</th>
          <th>Rôle</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <tr>
            <td><%= link_to 'Edit', edit_user_path(u.id) %></td>
            <td><%= u.id %></td>
            <td><%= u.name %></td>
            <td><%= u.email %></td>
            <td><%= u.approved %></td>
            <td><%= u.role.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
  
  <p>
    <% Role.all.each do |r|%>
    <%= r.id.to_s + ' - ' + r.name + ' - ' + r.rank.to_s %><br>
    <% end %>
  </p>
  <% end %>
<% end %>
