<% if controller.action_name == 'new' %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "recipes.js" %>
  <% end %>
  
  <% content_for :data_js do %>
    App.launch = 'recipeForm';
    App.categoryFilter = {
      param: 'recipe_type_id',
      selector: '#recipe_recipe_type_id'
    };
  <% end %>
<% end %>

<%= render 'nav_resume' %>
<%= render 'menu' %>
<%= render 'header' %>

<% content_for :item_content do %>

  <div class="panel panel-default">
    
    <%= simple_form_for @recipe, 
        html: { class: 'form-horizontal' },  
        wrapper: :horizontal_form  do |f| %>
        
      <div class="panel-heading">Paramètres</div>
    
      <div class="panel-body">
      
        <%= f.input :name, label: 'Nom' %>
      
        <%= f.input :recipe_type_id, 
          collection: @recipe_types, 
          include_blank: false, 
          label: 'Type de recette', 
          disabled: !@recipe_type_select
        %>
        
        <%= f.input :description, as: :text, label: 'Description', input_html: {rows: 2} %>
        
        <% if current_user.admin? %>
          <%= f.input :user_id, collection: User.all, label: 'Propriétaire' %>
          <%= f.input :variant_base_id,
            label: 'ID variante de base'
          %>
          
          <%= f.input :variant_base_id, 
            collection: @variants, 
            label: 'Variante de base'
          %>
        <% end %>
         
      </div>

      <% if controller.action_name == 'new' %>
        <div class="panel-heading">Ingrédients</div>
        <div class="panel-body">
          <div id="CategoryGrid" class="row"></div>
        </div>
      
        <div class="panel-heading">Valider</div>
        <div class="panel-body">
        
      <% end %>
        
          <div class="form-group"> 
            <div class="col-sm-offset-8 col-sm-4">
              <%= link_to( 'Annuler', :back, {class: "btn btn-default", role: "button"} )%>
              <%= f.button :submit, 'Enregistrer', class:"btn btn-primary" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>

<% end %>