<i><%= @recipe.type.name %></i>

<div id="manage_item">
  <table>
    <tr><td><%= link_to 'Modifier', edit_recipe_path(@recipe) %></td></tr>
    <tr><td>
      <%= link_to 'Supprimer', recipe_path(@recipe),
                    method: :delete,
                    data: { confirm: 'Confirmer la suppression ?' } %>
    </td></tr>
  </table>
</div>

  <table class="recipe_menu">
    <tr>
      <td class="recipe_menu"><%= link_to 'Ingrédients', recipe_path(@recipe),  class: "recipe_menu" %></td>
      <td class="recipe_menu"><%= link_to 'Variantes', recipe_variants_path(@recipe),  class: "recipe_menu" %></td>
      <td class="recipe_menu"><%= link_to 'Produits', recipe_products_path(@recipe),  class: "recipe_menu" %></td>
    </tr>
  </table>
