<% content_for :javascript_includes do %>
  <%= javascript_include_tag "recipes.js" %>
<% end %>

<% content_for :data_js do %>
  App.launch = 'recipeGrid'
  App.recipeTypesRaw = <%= @recipe_types.to_json.html_safe %>
  App.recipesRaw = <%= @recipes.to_json.html_safe %>
<% end %>

<%= render 'nav_resume' %>
<%= render 'menu' %>
<%= render 'header' %>

<% content_for :item_content do %>

  <div id="CategoryGrid" class="row"></div>

<% end %>
