<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<%content_for :content_menu do%>
  <br>> <%= link_to 'Annuler', recipe_path(@recipe) %>
<% end %>

<% content_for :item_content do %>

  <p><strong>Ajouter un ingrédient à la recette</strong></p>

  <p></p>

  <table>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Prix</th>
    </tr>
 
    <% @ingredient_candidates.each do |i| %>
      <tr>
        <td><%= link_to i.name, recipe_ingredient_add_ingredient_path(@recipe,i) , method: :post %></td>
        <td><%= i.type.name_short %></td>
        <td><%= if i.price_by_unit != nil  then i.price_by_unit.round(2).to_s + ' €/' +i.type.mesure_unit end %></td>
      </tr>
    <% end %>
  </table>


<% end %>
