<% content_for :javascript_includes do %>
  <%= javascript_include_tag "recipes.js" %>
<% end %>

<% content_for :data_js do %>
  App.launch = 'recipeNew';
  App.categoryFitler = {
    param: 'recipe_type_id',
    selector: '#recipe_recipe_type_id'
  };
<% end %>

<%= render 'nav_resume' %>
<%= render 'menu' %>
<%= render 'header' %>

<% content_for :item_content do %>

  <%= render 'form' %>

  <div id="CategoryGrid" class="row"></div>

<% end %>

