<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

<div class="panel panel-default">
  <div class="panel-heading">Produit de référence</div>

  <% if !@product.nil? then %>

    <div class="panel-body">
      Volume total : <%= @product.volume*0.01.display %> ml</br>
        <% if !@product.price.nil? then %>
          Prix : <%= @product.price %> €
        <% end %>
    </div>

    <div class="table-responsive">
      <%= table_by_category(
        category: {
          name: :type,
          collection: @ingredient_types},
        item: {
          collection: @ingredients,
          columns: [
            {instance: @product.quantities,
              method: 'display', 
              method_params: [:mass,'row']},
            {instance: @product.quantities,
              method: 'display', 
              method_params: [:volume,'row']},
            {instance: @product.quantities,
              method: 'display', 
              method_params: [:volume,'row','unit']},   
            {instance: @product.quantities,
              method: 'display', 
              method_params: [:price,'row']}]},       
        columns_header: ['Poids','volume','quantité','prix']
      )%>
    </div>
  <% else %>
  
    <div class="panel-body"><i>Pas produit de référence.</i></div>
      
  <% end %>
</div>

 <p><strong>Liste des produits par variante</strong></p>

  <%= table_by_category(
    category: {
      name: :variant,
      collection: @variants,
      link_param: @recipe
    },
    item: {
      collection: @products,
      link_param: @recipe,
      columns: [{ method: :volume }]},
    columns_header: ['volume']
  ) %>

 <p><strong>Liste des ingrédients</strong></p>

  <%= table_by_category(
    category: {
      name: :type,
      collection: @ingredient_types},
    item: {
      collection: @ingredients}
  ) %>

<% end %>
