<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

 <p><strong>Liste des produits par variante</strong></p>

  <%= table_by_category(
    category: {
      name: :variant,
      collection: @variants,
      link_param: @recipe
    },
    item: {
      collection: @products,
      link_param: @recipe
    },
    columns: [
      {name: 'volume', method: :volume }
    ]
  ) %>

 <p><strong>Liste des ingrédients</strong></p>

  <%= table_by_category(
    category: {
      name: :type,
      collection: @ingredient_types
    },
    item: {
      collection: @ingredients
    },
    columns: [
      {name: 'Prix', method: :price_by_unit_display }
    ]
  ) %>

<% end %>
