<% content_for :javascript_includes do %>
  <%= javascript_include_tag "recipes.js" %>
<% end %>

<% content_for :data_js do %>
  App.launch = 'productGenerator'
  App.productGeneratorRaw = <%= @product_generator.to_json.html_safe %>
<% end %>

<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>
  <div id="ProductGenerator">
    <div class="panel panel-default" id="ProductCompute">
      <div class="panel-heading">Quantités</div>
        <div class='alert product--save--alert' role='alert'></div>
      <div class="panel-body">
      <%= render 'products/pg_form' %>
      
      </div>
      <div class="table-responsive">
        <table class="table table-quantities table-striped">
          <thead><tr>
            <th></th>
            <th>
              <div class="dropdown">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Afficher <span class="caret"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-left">
                  <form id="quantity-selectors">
                  </form>
                </div>
              </div>
            </th>
            <th class="quantity-type-proportion">Proportion</th>
            <th class="quantity-type-volume">Volume</th>
            <th class="quantity-type-mass">Masse</th>
            <th class="quantity-type-quantity">Quantité</th>
            <th class="quantity-type-price">Prix</th>
            <th class="quantity-type-stock">Stock</th>
          </tr></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  
    <div class="panel panel-default" id="Products">
      <div class="panel-heading">Liste des produits</div>
      <div class="table-responsive">
        <table class="table table-products table-striped">
          <thead><tr>
            <th>Description</th>
            <th>Variante</th>
            <th>Date de production</th>
            <th></th>
          </tr></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
