<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<%= menu_item(menu: :content_menu, 
     path: recipe_ingredient_candidates_path(@recipe), label: 'Ajouter ingrédient') %>

<%= menu_item(menu: :content_menu, 
     path: recipe_delete_list_path(@recipe), label: 'Retirer ingrédient') %>
   
<% if can?(:update, @recipe) then%>
  <%= menu_item(menu: :content_menu, 
       path: new_recipe_variant_path(@recipe), label: 'Ajouter variante') %>
<% end %>

<%= menu_item(menu: :content_menu, 
     path: new_recipe_product_path(@recipe), label: 'Ajouter produit') %>

<% content_for :item_content do %>

 <p><strong>Liste des produits par variante</strong></p>

  <%= table_by_category(
    category: {
      name: :variant,
      collection: @variants,
      link_param: @recipe
    },
    item: {
      collection: @products,
      link_param: @recipe
    },
    columns: [
      {name: 'volume', method: :volume }
    ]
  ) %>

 <p><strong>Liste des ingrédients</strong></p>

  <%= table_by_category(
    category: {
      name: :type,
      collection: @ingredient_types
    },
    item: {
      collection: @ingredients
    },
    columns: [
      {name: 'Prix', method: :price_by_unit_display }
    ]
  ) %>

<% end %>
