<div class="panel panel-default">

  <div class="panel-body">

<%# simple_form_for @user, 
      html: { class: 'form-horizontal' },  
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      } do |f|%>

<%= simple_form_for @user do |f|%>

  <%= f.error_notification %>

  <%= f.input :name, label: 'Nom' %>

  <%= f.input :email, placeholder: 'user@domain.com' %>

  <% if current_user.admin? %>
  
    <%= f.input :approved, inline_label: 'Approved' %>
    
    <%= f.input :role_id, collection: Role.all, include_blank: false %>
  
  <% end %>
  
  <div class="form-group"> 
      <%= f.button :submit, 'Enregistrer', class: "btn btn-primary"  %>
      <%= link_to( 'Annuler', :back, {class: "btn btn-default", role: "button"} )%>
  </div>
  
<% end %>

  </div>
</div>