<div class="panel panel-default">

  <div class="panel-body">

<%# simple_form_for @user, 
      html: { class: 'form-horizontal' },  
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      } do |f|%>

<%= simple_form_for @user do |f|%>

  <div class="basic-content">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Se connecter</span>
        <%= f.error_notification %>
      
        <%= f.input :name, label: 'Nom' %>
      
        <%= f.input :email, placeholder: 'user@domain.com' %>
            
        <% if current_user.admin? %>
        
          <%= f.input :approved, inline_label: 'Approved' %>
          
          <%= f.input :role_id, collection: Role.all, include_blank: false %>
        
        <% end %>
        
        <div class="card-action"> 
            <%= f.button :submit, 'Enregistrer', class: "btn"  %>

            <%= link_to( 'Annuler', :back )%>
        </div>
      </div>
    </div>
  </div>
  
<% end %>

  </div>
</div>