<% content_for :content_header do %>
  <span class="title">Modifier utilisateur</span>
<% end %>

<%= add_menu_item(menu: :content_menu, 
     path: user_path(@user), label: 'Annuler') %>
<%= add_menu_item(menu: :content_menu, 
     path: edit_user_registration_path, label: 'Changer mot de passe') %>
<%= add_menu_item(menu: :content_menu, 
     path: user_path(@user), label: 'Supprimer compte', 
     link_param: {method: :delete, data: { confirm: 'Voulez-vous supprimer cet utilisteur ?' }}) %>
<%= add_menu_item(menu: :content_menu, 
     path: user_path(@user), label: 'Supprimer compte', 
     link_param: {method: :delete, data: { confirm: 'Voulez-vous supprimer cet utilisteur ?' }}) %>

<% content_for :item_content do %>
  <%= render 'form' %>
<% end %>
