<% content_for :content_header do %>
  <span class="title">Gestion de mes informations</span>
<% end %>

<%= menu_item(menu: :content_menu, 
     path: edit_user_path(current_user.id), label: 'Modifier informations') %>
<%= menu_item(menu: :content_menu, 
     path: edit_user_registration_path, label: 'Changer mot de passe') %>

<% content_for :item_content do %>

  <div class="basic-content">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Utilisateur connecté</span>
        <p><b>Nom</b> : <%= @user.name %></p>
        <p><b>Email</b> : <%= @user.email %></p>
        <p><b>Rôle</b> : <%= @user.role.name %></p>
      </div>
      <div class="card-action">
        <%= link_to(
          content_tag(:i, :mode_edit, class: "material-icons") + "Modifier infos",
          edit_user_path(current_user)) %>
        <%= link_to( 
          content_tag(:i, :vpn_key, class: "material-icons") + 'Changer mot de passe', 
          edit_user_registration_path)%>
        <%= link_to(
          content_tag(:i, :power_settings_new, class: "material-icons") + " Déconnecter",
          destroy_user_session_path, 
          {:method => :delete}) %>
      </div>
    </div>
  
<% end %>