<% content_for :content_header do %>
  <span class="title">Modification du mot de passe</span>
<% end %>

<% content_for :item_content do %>

  <div class="panel panel-default">
    <div class="panel-body">
        
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), method: :put) do |f| %>
      <%# form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
      
        <%= f.input :password, label: "Nouveau mot de passe", autofocus: true, autocomplete: "off"  %>
 
        <%= f.input :password_confirmation, label: "Confirmer mot de passe", autocomplete: "off"  %> 
        
        <%= f.button :submit, 'Modifier mon mot de passe', class: "btn btn-primary" %>
      
      <% end %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
