<% content_for :content_header do %>
  <span class="title">Mot de passe oublié</span>
<% end %>

<% content_for :content_menu do %>
  > <%= link_to "Se connecter", new_session_path(resource_name) %><br />
  > <%= link_to "Nouvel utilisateur", new_user_registration_path %>
<% end %>

<% content_for :item_content do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

  <p>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  </p>

  <p>
      <div class="actions">
        <%= f.submit "Envoyer instructions pour réinitialiser mon mot de passe" %>
      </div>
  </p>

  <% end %>
<% end %>
