<div class="panel panel-default">
  
  <%= simple_form_for @ingredient, 
      html: { class: 'form-horizontal' },  
      wrapper: :horizontal_form  do |f| %>
      
    <div class="panel-heading">Paramètres</div>
  
    <div class="panel-body">
      
      <%= f.input :name, label: 'Nom' %>
      
        <%= f.input :ingredient_type_id, 
          collection: @ingredient_types, 
          include_blank: false, 
          label: 'Type d\'ingrédient', 
          disabled: controller.action_name != 'new'
        %>
      
      <%= f.input :density, label: 'Densité' %>
      
      <div class="form-group row"> 
        <div class="col-sm-offset-8 col-sm-4">
          <%= link_to( 'Annuler', :back, {class: "btn btn-default", role: "button"} )%>
          <%= f.button :submit, 'Enregistrer' %>
        </div>
      </div>
      
    </div>
    
  <% end %>
  
</div>

