<%= form_for @ingredient do |f| %>

  <p>
    <%= f.label 'Type d\'ingrédient' %><br>
    <%= f.collection_select(:ingredient_type_id, IngredientType.all, :id, :name) %>
  </p>

  <p>
    <%= f.label 'Nom' %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label 'Densité' %><br>
    <%= f.number_field :density, :step => 'any' %>
  </p>

  <p>
    <%= f.submit 'Enregistrer'%>
  </p>
<% end %>

