<div class="panel panel-default">
  
  <%= simple_form_for @ingredient, 
      html: { class: 'form-horizontal' },  
      wrapper: :horizontal_form  do |f| %>
      
    <div class="panel-heading">Paramètres</div>
  
    <div class="panel-body">
      
      <%= f.input :name, label: 'Nom' %>

      <%= f.input :name_latin, label: 'Nom latin' %>

      <%= f.input :ingredient_type_id, 
          collection: @ingredient_types, 
          include_blank: false, 
          label: 'Type d\'ingrédient', 
          disabled: !@edit_type
      %>
      
      <%= f.input :description, as: :text, label: 'Description', input_html: {rows: 2} %>
      
      <% if @can_edit_density %>
        <%= f.input :density, 
              label: 'Densité', 
              input_html: {value: @ingredient.density/100.0},
              placeholder: '1 par défaut' %>
      <% end %>
      
      <div class="form-group"> 
        <div class="col-sm-12">
          <div class="pull-right">
            <%= link_to( 'Annuler', :back, {class: "btn btn-default", role: "button"} )%>
            <%= f.button :submit, 'Enregistrer', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <% if controller.action_name != 'new'%>
        <div class="form-group"> 
          <div class="col-sm-12">
            <div class="pull-right">
              <%= link_to( 'Supprimer l\'ingrédient', ingredient_path(@ingredient),
                    method: :delete, data: { confirm: 'Voulez-vous supprimer cet ingrédient ?' }
              )%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  
</div>

