<% content_for :content_header do %>
  <span class="title">Liste des ingrédients</span>
<% end %>

<% content_for :content_menu do %>
  <%= link_to 'Nouvel ingrédient', new_ingredient_path %>
<% end %>

<% content_for :item_content do %>

    <table class="colored">

     <tr>
       <th></th>
       <th>prix</th>
       <th># recettes</th>
     </tr>

      <% @ingredient_types.each do |it| %>
        <tr><td><strong><%= link_to it.name, ingredient_type_path(it) %></strong><td></p>
        <% colored = true %>
        <% @ingredients.where(type: it).sort_by {|i| i.name }.each do |i| %>
          <% if colored then %>
            <tr class="filled">
          <% else %>
            <tr>
          <% end %>
          <% colored = !colored %>
            <td>&nbsp; &nbsp;<%= link_to i.name, ingredient_path(i) %></td>
            <td class="center"><%= if i.price_by_unit != nil  then i.price_by_unit.round(2).to_s + ' €/' +i.type.mesure_unit else '-' end %></td>
            <td class="center"><%= i.recipes.count %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

<% end %>
