<%= render 'nav_resume' %>

<%= render 'header' %>

<%= menu_item(menu: :content_menu, 
     path: ingredient_path(@ingredient), label: 'Annuler') %>
<%= menu_item(menu: :content_menu, 
     path: ingredient_path(@ingredient), label: 'Supprimer', 
     link_param: {method: :delete, data: { confirm: 'Voulez-vous supprimer cet ingrédient ?' }}) %>

<% content_for :item_content do %>

  <p><strong>Modifier l'ingrédient</strong></p>
  <%= render 'form' %>

<% end %>
