<%= render 'nav_resume' %>

<%= render 'list_resume' %>

<%= render 'header' %>

<%= render 'menu' %>

<% content_for :item_content do %>

  <p><strong>Modifier l'ingrédient</strong></p>
  <%= render 'form' %>

  <p><%= link_to 'Annuler', @ingredient %></p>

<% end %>
