<% content_for :javascript_includes do %>
  <%= javascript_include_tag "ingredients.js" %>
<% end %>
<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>
  
  <div id = "TableContent"><p>Chargement de la liste ...</p></div>
 
 <%= link_to('Test get table', ingredients_get_table_path)%>

<% end %>