<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

  <div class="subcontent">
    <div class="title">informations</div>
    <span class="highlight">Densité : </span>
    <%= @ingredient.density %>
    <br>
  </div>

  <div class="subcontent">
    <div class="title">Stocks pour l'ingrédient</div>
    <% if @containers.any? then %>
   
      <table>
        <tr>
          <th>Volume d'achat</th>
          <th>Volume actuel</th>
          <th>Prix au <%= @ingredient.type.mesure_unit %></th>
        </tr>
   
        <% @containers.each do |c| %>
          <tr>
            <td><%= c.volume_init.display %></td>
            <td><%= if c.volume_actual? then c.volume_actual.display end %></td>
            <td><%= c.price_by_unit.round(2) %> €</td>
            <td><%= link_to 'Modifier', edit_ingredient_container_path(@ingredient,c) %></td>
          </tr>
        <% end %>
      </table>
  
    <% else %>
  
      <i>Pas de stock pour cet ingrédient.</i>
  
    <% end %>
  </div>

<% end %>
