<%= form_for @container, :url => url_for([@ingredient, @container]) do |f| %>

  <p>
    <%= f.label 'Volume intial' %><br>
    <%= f.number_field :quantity_init, :step => 'any' %>
  </p>

  <p>
    <%= f.label 'Prix d\'achat' %><br>
    <%= f.number_field :price, :step => 'any' %>
  </p>

  <p>
    <%= f.label 'Volume actuel' %><br>
    <%= f.number_field :quantity_actual, :step => 'any' %>
  </p>
      
  <% if current_user.admin? then%>
    <p>
      <%= f.label 'Propriétaire' %><br>
      <%= f.collection_select(:user_id, User.all, :id, :name) %>
    </p>
  <% end %>
  
  <p>
    <%= f.submit 'Enregistrer'%>
  </p>
<% end %>


