<div class="panel panel-default">

    <div class="panel-heading">Volume</div>
  
      <div class="panel-body">

        <%= simple_form_for [@ingredient, @container], 
            html: { class: 'form-horizontal' },  
            wrapper: :horizontal_form  do |f| %>
      
            <%= f.input :quantity_init, label: 'Volume intial' %>
      
            <%= f.input :price, label: 'Prix d\'achat' %>
      
            <%= f.input :quantity_actual, label: 'Volume actuel' %>
      
            <% if current_user.admin? %>
              <%= f.input :user_id, collection: User.all, label: 'Propriétaire' %>
            <% end %>
            
            <div class="form-group row"> 
              <div class="col-sm-offset-8 col-sm-4">
                <%= link_to( 'Annuler', :back, {class: "btn btn-default", role: "button"} )%>
                <%= f.button :submit, 'Enregistrer' %>
              </div>
            </div>
                
        <% end %>
    </div>
  </div>
</div>

