<%= render 'ingredients/nav_resume' %>

<%= render 'ingredients/header' %>

<%= render 'menu' %>

<%= menu_item(menu: :content_menu, 
       path: ingredient_container_path(@ingredient,@container), label: 'Supprimer', 
       link_param: {method: :delete, data: { confirm: 'Voulez-vous supprimer cet ingrédient ?' }}) %>

<% content_for :item_content do %>

    <p><strong>Modifier le contenant</strong></p>
    <%= render 'form' %>

    <p><b>Modifier volume par la masse</b></p>
    
    <%= form_for @container,url: ingredient_container_update_with_mass_path(@ingredient,@container), method:'patch' do |f| %>
      <input type="hidden" name="container[id]" step="any" type="number" value=<%= @container.id %> />
    
    
      <p>
        <%= f.label 'Masse totale' %><br>
        <input name="container[mass]" 
                      step="any" type="number" value=<%= @container.mass_total.display %> />
      </p>
      
      <% if current_user.admin? then%>
        <p>
  
          <%= f.label 'Propriétaire' %><br>
          <%= f.collection_select(:user_id, User.all, :id, :name) %>
      <% end %>

      <p>
        <%= f.submit 'Enregistrer'%>
      </p>
    <% end %>


<% end %>

