<%= render 'nav_resume' %>
<%= render 'ingredients/header' %>

<%= menu_item(menu: :content_menu, 
       path: ingredient_container_path(@ingredient,@container), label: 'Supprimer', 
       link_param: {method: :delete, data: { confirm: 'Voulez-vous supprimer cet ingrédient ?' }}) %>

<% content_for :item_content do %>

    <%= render 'form' %>

    <% if !@container.mass_total.display.nil? %>
    
      <div class="panel panel-default">
      
          <div class="panel-heading">Modifier volume par la masse</div>
        
            <div class="panel-body">
      
              <%= form_for @container,url: ingredient_container_update_with_mass_path(@ingredient,@container), method:'patch' do |f| %>
                <input type="hidden" name="container[id]" step="any" type="number" value=<%= @container.id %> />
              
                <div class="form-group">
                  <label for="mass-input" class="col-xs-3">Masse</label>
                  <div class="col-xs-5">
                    <div class="input-group">
                      <input name="container[mass]" id="mass-input" class="numeric integer optional form-control"
                            step="any" type="number" value=<%= @container.mass_total.display/100.0 %> />
                      <span class="input-group-addon">g</span>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <input type="submit" name="commit" value="Enregistrer" class="btn btn-default">
                  </div>
                </div>
              <% end %>
      
          </div>
        </div>
      </div>
    <% end %>

<% end %>

