<%= render 'ingredients/nav_resume' %>

<%= render 'ingredients/header' %>

<% content_for :content_menu do %>
  > <%= link_to 'Annuler', ingredient_path(@ingredient) %><br>
  > <%= link_to 'Supprimer', ingredient_container_path(@ingredient,@container),
                    method: :delete,
                    data: { confirm: 'Voulez-vous supprimer ce contenant ?' } %><br>
<% end %>

<% content_for :item_content do %>

    <p><strong>Modifier le contenant</strong></p>
    <%= render 'form' %>

    <p><b>Modifier volume par la masse</b></p>
    
    <%= form_for @container,url: ingredient_container_update_with_mass_path(@ingredient,@container), method:'patch' do |f| %>
      <input type="hidden" name="container[id]" step="any" type="number" value=<%= @container.id %> />
    
    
      <p>
        <%= f.label 'Masse totale' %><br>
        <input name="container[mass]" 
                      step="any" type="number" value=<%= @container.mass_total.display %> />
      </p>
      
      <p>
        <%= f.submit 'Enregistrer'%>
      </p>
    <% end %>


<% end %>

