<%= form_for @recipe_type do |f| %>
  <p>
    <%= f.label 'Nom' %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label 'Types d\'ingrédients' %><br>
    <%= f.collection_check_boxes(:ingredient_type_ids, @ingredient_types, 
          :id, :name) do |b| %>
      <div class="line">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </p>

  <p>
    <%= f.label 'Densité' %><br>
    <%= f.number_field :density, :step => 'any' %>
  </p>

  <p>
    <%= f.submit 'Enregistrer' %>
  </p>
<% end %>
