<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

<p><strong>Modifier le type de recette</strong></p>

  <%= render 'form' %>

  <p><%= link_to 'Annuler', @recipe_type %></p>
<% end %>
