<% content_for :nav_resume do %>
  > <%= link_to 'Recettes', recipes_path %><br>
  > <%= link_to 'Types', recipe_types_path %>
<% end %>

<% content_for :item_menu do %>
  <br>> <%= link_to 'Annuler', @ingredient_type %>
<%end%>


<% content_for :content_header do %>
  <span class="title">Nouveau type de recette</span>
<% end %>

<% content_for :item_content do %>

  <%= render 'form' %>

  <p><%= link_to 'Annuler', recipes_path %></p>

<% end %>
