<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

<p><strong>Types d'ingrédients</strong></p>

    <ul>
      <% @recipe_type.ingredient_types.each do |it| %>
        <li> <%= link_to it.name , it %> </li>
     <% end %>
   </ul>

<p><strong>Recettes associées</strong></p>

  <ul>
    <% @recipes.each do |r| %>
      <li> <%= link_to r.name, r %> </li>
    <% end %>
  </ul>

<% end %>
