<% content_for :content_header do %>
  <span class="title">Identification</span>
<% end %>

<%= render "devise/shared/links" %>

<% content_for :item_content do %>

  <div class="panel panel-default">
    <div class="panel-body">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <%= f.input :email, placeholder: 'user@domain.com' %>
    
      <%= f.input :password, label: 'Mot de passe', autocomplete: "off" %>
    
      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, as: :boolean, inline_label: 'Se souvenir de moi' %>
      <% end -%>
    
      <%= f.button :submit, 'Se connecter' %>
    
      <% end %>
      
    </div>
  </div>
  
<% end %>
