<% content_for :content_header do %>
  <span class="title">Identification</span>
<% end %>

<%# previously used for insert menu %>
<%# render "devise/shared/links" %>

<% content_for :item_content do %>

  <div class="basic-content">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Se connecter</span>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
        <%= f.input :email, label: 'Email', class: 'input-field' %>
      
        <%= f.input :password, label: 'Mot de passe', autocomplete: "off" %>
      
        <%= link_to('Mot de passe oublié ?', new_password_path(resource_name)) %>
      
        <% if devise_mapping.rememberable? -%>
          <div class="switch">
            <label>
              <input type="checkbox" id="user_remember_me" name="user[remember_me]"/>
              <span class="lever"></span>
              Se souvenir de moi
            </label>
          </div>
          <%# f.input :remember_me, as: :boolean, label: 'Se souvenir de moi' %>
        <% end -%>
      
      <div class="card-action">
          <%= f.button :submit, 'Se connecter' %>
        
          <%= link_to('Nouvel utilisateur', new_user_registration_path) %>
      </div>
      <% end %>
      
    </div>
  </div>
  
<% end %>
