<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :content_header do %>
  <div class="subtitle">Modifier Proportions</div>
<% end %>

<% content_for :item_content do %>

<div class="panel panel-default">

  <%= form_for @variant ,
    url: recipe_variant_change_proportions_path(@recipe,@variant), 
    method:'patch',
    html: {class: "form-horizontal"} do |f| %>
  <input type="hidden" name="variant[id]" step="any" type="number" value=<%= @variant.id %> />
  
  <div class="panel-heading">Par type</div>
  
  <div class="panel-body">
    <% @variant.proportions.where(composant_type: 'IngredientType').each do |p| %>
      <% css_id = 'proportion--' + p.id.to_s %>
      <div class="form-group string required recipe_name" >
        <label class="string col-sm-4 control-label" for="<%= css_id %>" ><%=  p.composant.name %></label>
        <div class="col-sm-2">
           <input type="hidden" name="proportions[][id]" step="any" type="number" value=<%= p.id %> />
           <input min="0" name="proportions[][value]" step="any" type="number" value=<%= p.value %> 
           class="numeric integer required form-control" id="<%= css_id %>" />
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="panel-heading">Ingrédients pour chaque type</div>

      <% @variant.proportions.where(composant_type: 'IngredientType').each do |itp| %>
      <% css_id = 'proportion--' + itp.id.to_s %>
        <div class="jumbotron proportion-ingredient-type"><%=  itp.composant.name %></div>
        <div class="panel-body">
          <% @variant.proportions_for_type(itp.composant).each do |ip| %>
            <div class="form-group string required recipe_name">
              <label class="string col-sm-4 control-label" for="<%= css_id %>"> <%=  ip.composant.name %></label>
              <div class='col-sm-2'>
                 <input type="hidden" name="proportions[][id]" 
                      step="any" type="number" value=<%= ip.id %> 
                  />
                 <input min="0" name="proportions[][value]" 
                    step="any" type="number" value=<%= ip.value %> 
                    class="numeric integer required form-control" id="<%= css_id %>" />
              </div>
            </div>
          <% end %>
        </div>
    <% end %>

  <div class="panel-heading">Valider</div>

  <div class="panel-body">
    <input type="submit" name="commit" value="Enregistrer" class="btn btn-default">
    <%= link_to( 'Annuler', :back, {class: "btn btn-default", role: "button"} )%>
  </div>
  <% end %>

<% end %>
