<%= render 'recipes/list' %>

<%= render 'recipes/item_title' %>

<% content_for :item do %>

  <%= render 'recipes/info' %>

  <h3>Modifier Infos générales</h3>

  <%= render 'form' %>

  <%= form_for @variant ,url: recipe_variant_update_proportions_path(@recipe,@variant), method:'patch' do |f| %>

  <h3>Modifier Proportions</h3>

  <h4>Par type</h4>

  <table>
    <% @variant.proportions.where(composant_type: 'IngredientType').each do |p| %>
      <tr>
         <td><%=  p.composant.name %></td>
         <td>
           <input type="hidden" name="variant[proportion_attributes][][id]" step="any" type="number" value=<%= p.id %> />
           <input min="0" name="variant[proportion_attributes][][value]" step="any" type="number" value=<%= p.value %> />
        </td>
      </tr>
    <% end %>
  </table>

  <h4>Ingrédients pour chaque type</h4>

    <table>
      <% @variant.proportions.where(composant_type: 'IngredientType').each do |itp| %>
          <tr><td><strong><%=  itp.composant.name %></strong></td></tr>
        <% @variant.proportions_for_type(itp.composant).each do |ip| %>
          <tr>
           <td><%=  ip.composant.name %></td>
           <td>
               <input type="hidden" name="variant[proportion_attributes][][id]" step="any" type="number" value=<%= ip.id %> />
               <input min="0" name="variant[proportion_attributes][][value]" step="any" type="number" value=<%= ip.value %> />
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= f.submit 'Enregistrer' %>
  <% end %>

  <p><%= link_to 'Retour variante', recipe_variant_path(@recipe,@variant) %></p>


<% end %>
