<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

  <div class="subcontent">
    <div class="title">Dosage ingrédients</div>

    <%= table_by_category(
      category: {
        name: :type,
        collection: @ingredient_types,
        columns: [
          {method: 'proportion_variant', method_params: @variant }]},
      item: {
        collection: @ingredients,
        columns: [
          {},
          {method: 'proportion_variant', method_params: @variant}]},
      columns_header: ['type', 'ingredient']
    ) %>
  
  </div>

  <div class="subcontent">
    <div class="title">Produits</div>
  
    <ul>
      <% @variant.products.each do |p| %>
        <li><%= link_to p.name, recipe_product_path(@recipe,p)%></li>
      <% end %>
    </ul>
  
  </div>

<% end %>

