<%= render 'nav_resume' %>
<% content_for :nav_resume do %>
  > <%= link_to @variant.name, recipe_variant_path(@recipe,@variant) %> 
<% end %>
<%= render 'header' %>
<%= render 'menu' %>

<%= menu_item(menu: :content_menu, 
     path: recipe_duplicate_variant_path(@recipe,variant_id: @variant, variant_name: 'Copie de ' + @variant.name), 
     label: 'Dupliquer variante',link_param: {method: :patch}) %>

<% content_for :item_content do %>

<p><strong>Dosage ingrédients</strong></p>

<table>

  <% @variant.proportions.where(composant_type: 'IngredientType').each do |itp| %>
       <% if itp.composant.nil? then %>
    <tr>
         <td>Pb <%= itp.id %> </td> 
       <% else %>
    <tr>
       <td><strong><%= itp.composant.name %></strong></td>
       <td><strong><%= number_to_percentage(itp.value*100, precision: 1) %></strong></td>
    </tr>
    <% @variant.proportions_for_type(itp.composant).each do |ip| %>
      <tr>
        <td>- <%= ip.composant.name %></td>
        <td><%= number_to_percentage(ip.value*100, precision: 1) %></td>
      </tr>
    <% end %>
       <% end %>
  <% end %>
</table>

<% end %>

