<%= simple_form_for [@recipe, @product], 
      html: { class: 'form-horizontal' },  
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean,
        date: :horizontal_form
      } do |f|%>

  <%= f.error_notification %>

  <%= f.input :variant_id, collection: @variants, include_blank: false, label: 'Variante' %>

  <%= f.input :volume, label: 'Volume' %>

  <%= f.input :container, label: 'Contenant' %>

  <%= f.input :description, label: 'Description' %>

  <%= f.input :number_produced, label: 'nombre d\'unité produites' %>

  <%= f.input :production_date, 
        label: 'Date de production',
        as: :date,
        wrapper_html: { class: 'date-horizontal' }
    %>

  <%= f.input :expiration_date, 
        label: 'Date de péremption',
        as: :date,
        wrapper_html: { class: 'date-horizontal' }
   %>

  <div class="form-group"> 
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, 'Enregistrer' %>
      <%= link_to( 'Annuler', :back, {class: "btn btn-default", role: "button"} )%>
    </div>
  </div>
  
<% end %>
