<%= simple_form_for [@recipe,@product],  
      wrapper: :horizontal_input_group do |f| %>

  <% if current_user.admin? %>

      <%= f.input :user_id, 
            label: 'Owner',
            collection: User.all
     %>

    <% if controller.action_name == :edit %>
      <%= f.input :recipe_id, 
            label: 'Recette',
            collection: Recipe.all,
            disabled: true
     %>
    <% end %>
      <%= f.input :variant_id, 
            label: 'Variante',
            collection: Variant.all, 
            disabled: true
     %>
     
      <%= f.input :volume, 
        label: 'Volume' do %>
        <%= f.input_field :volume, class: "form-control",
          value: @product.volume.nil? ? nil : @product.volume/100.0 %>
        <span class="input-group-addon">ml</span>
      <% end %>
              
      <%= f.input :container, label: 'Container' %>
      <%= f.input :description, label: 'Description' %>
      <%= f.input :production_date, label: 'Date de production' %>
      <%= f.input :expiration_date, label: 'Date d\'expiration' %>
      
      <%= f.button :submit, 'Enregistrer' %>
      <%= link_to( 'Annuler', :back, {class: "btn btn-default", role: "button"} )%>

  <% else %>

    <p>Editer les produits n'est pas possible sur cette vue pour les non admonistrateurs</p>

  <% end %>
 
<% end %>
