<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

  <div class="subcontent">
    <div class="title">Résumé</div>
          <table>
            <tr><td>Variante : <%= link_to @product.variant.name, recipe_variant_path(@recipe,@product.variant) %></td></tr>
            <tr><td>Volume total : <%= @product.volume.display %> ml</td></tr>
            <% if not @product.price.nil? then %>
              <tr><td>Prix : <%= @product.price %> €</td></tr>
            <% end %>
          </table>
  </div>

  <div class="subcontent">
    <div class="title">Dosage</div>  

    <%= table_by_category(
      category: {
        name: :type,
        collection: @ingredient_types
      },
      item: {
        collection: @ingredients
      },
      columns: [{name: 'Poids',
                  method: 'product_mass_display', 
                  method_params: @product },
                {name: 'volume', 
                  method: 'product_volume_display', 
                  method_params: @product},
                {name: 'quantité', 
                  method: 'product_quantity', 
                  method_params: @product}]
    ) %>
    
  </div>
    
<% end %>
