<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

  <div class="subcontent">
    <div class="title">Résumé</div>
          <table>
            <tr><td>Variante : <%= link_to @product.variant.name, recipe_variant_path(@recipe,@product.variant) %></td></tr>
            <tr><td>Volume total : <%= @product.volume*0.01.display %> ml</td></tr>
            <% if !@product.price.nil? then %>
              <tr><td>Prix : <%= @product.price %> €</td></tr>
            <% end %>
          </table>
  </di

  <div class="subcontent">
    <div class="title">Dosage</div>  

    <%= table_by_category(
      category: {
        name: :type,
        collection: @ingredient_types},
      item: {
        collection: @ingredients,
        columns: [
          {instance: @product.quantities,
            method: 'display', 
            method_params: [:mass,'row']},
          {instance: @product.quantities,
            method: 'display', 
            method_params: [:volume,'row']},
          {instance: @product.quantities,
            method: 'display', 
            method_params: [:volume,'row','unit']},   
          {instance: @product.quantities,
            method: 'display', 
            method_params: [:price,'row']}]},       
      columns_header: ['Poids','volume','quantité','prix']
    )%>
    
  </div>
    
<% end %>
