<%= render 'nav_resume' %>
<%= render 'header' %>
<%= render 'menu' %>

<% content_for :item_content do %>

  <h3>Produit <%= @product.name %></h3>
    <table class = "product">
      <tr><th>Résumé</th></tr>
      <tr><td>
          <table>
            <tr><td>Variante : <%= link_to @product.variant.name, recipe_variant_path(@recipe,@product.variant) %></td></tr>
            <tr><td>Volume total : <%= @product.volume.round(2) %> ml</td></tr>
            <% if not @product.price.nil? then %>
              <tr><td>Prix : <%= @product.price %> €</td></tr>
            <% end %>
          </table>
        </td></tr>
      <tr><th>Dosage</th></tr>
        <tr><td><table>
            <% @recipe.ingredient_types.each do |it|%>
              <tr>
                <td><strong><%= it.name %></strong></td>
                <td></td>
                <td></td>
                <td><i>en stock</i></td>
                <tr>
              <% @recipe.ingredients.where(type: it).each do |i| %>
                <% vol_ml = (@variant.composant_proportion(i) * @variant.composant_proportion(it) * @product.volume).round(2) %>
                <% if vol_ml >0 then %>
                  <tr>
                    <td>- <%= i.name %></td>
                    <td class="center"><%= vol_ml %> ml</td>
                    <td class="center">
                      <% if it.name_short == 'HE' then (vol_ml*35).round(0) %>
                        <%= (vol_ml*35).round(0) %> gt.
                      <% end %>
                    </td>
                    <td class="center"><%= i.volume_in_stock.round(0) %> ml</td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </table></td></tr>
    </table>

  <p><%= link_to 'Retour Produits', recipe_products_path(@recipe) %></p>

<% end %>
