<!DOCTYPE html>
<html>
<head>
  <title>IRIS Project</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript_includes %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width" />
	<%= favicon_link_tag 'favicon.ico?v=2' %>
</head>

<body>

  <%= render '/layouts/navbar' %>

  <%= render '/layouts/recipes_exemple' %>

  <%= yield %>

  <%# yield( :item_content ) %>

</body>
</html>
