<!DOCTYPE html>
<html>
<head>
<title>IRIS Project</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript_includes %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width" />
	<%= favicon_link_tag 'favicon.ico?v=2' %>
</head>

<body>
  
  <div id="Header">
    
    <div class="session" hidden>
      <div class="btn-group" role="group" aria-label="...">
        <% if user_signed_in? %>
          <%= content_tag(:button, current_user.name, {type: :button, class: "btn disabled"}) %>
          <%= link_to(
                content_tag(:span, nil, class: "glyphicon glyphicon-user"),
                user_path(current_user), {type: :button, class: "btn btn-default"}) %>
          <%= link_to(
                content_tag(:span, nil, class: "glyphicon glyphicon-off"),
                destroy_user_session_path, 
                {:method => :delete, type: :button, class: "btn btn-default"}) %>
        <%else%>      
          <%= link_to('Se connecter', new_user_session_path, {type: :button, class: "btn btn-default connect"}) %>
        <% end %>
      </div>
    </div>
    
    <div class="title-and-session row">
      <div class="title col-sm-2">
        <a href="<%=root_path %>" class="brand-logo"><img src="/images/logo_text.png" class="logo" alt=""></a>
      </div>
      
      <div class="general-menu col-sm-6">
        <ul class="nav nav-pills">
          
          <li role="presentation" 
            <% if @active_tab == 'recipe' %>
              class="active" 
            <%end %>
          >
            <%= link_to 'Recettes', recipes_path + '.html', 
                {name: 'Recettes'} %>
          </li>
          
          <li role="presentation" 
            <% if @active_tab == 'ingredient' %>
              class="active" 
            <%end %>
          >
            <%= link_to 'Ingrédients', ingredients_path + '.html', 
                {name: 'Ingrédients'} %>
          </li>

          <% if user_signed_in? && current_user.admin? %>
          <li role="presentation" 
            <% if @active_tab == 'admin' %>
              class="active" 
            <%end %>
          >
              <%= link_to 'Admin', admin_users_path%>
            </li>
          <% end %>
        </ul>   
      </div> 
  
    </div>
      
  </div>
  
  <div id="NavBar">
    <ol class="breadcrumb">
      <% if content_for?(:nav_resume) %>
        <li>
          <a href="/">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </a>
        </li>
        <%= yield( :nav_resume ) %>
      <% else %>
        <li class="active">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </li>
      <% end %>
    </ol>
  </div>

  <div id="MainMessage">
    <% if flash.any? %>
  		<% flash.each do |name, msg| %>
    		<% if name == 'alert' %>
    		  <%= content_tag :div, msg, {class: 'alert alert-danger', role: 'alert'} %>
        <% elsif name == 'notice' %>
          <%= content_tag :div, msg, {class: 'alert alert-success', role: 'alert'} %>
        <% else %>
          <%= content_tag :div, name.to_s + ":" + msg.to_s, {class: 'alert alert-info', role: 'alert'} %>
        <% end %>
  		<% end %>
  	<%end%>
  </div>

  <div id="ContextMenu">
    <% if content_for?(:content_menu) %>  
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ContextMenuNav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          <div class="collapse navbar-collapse" id="ContextMenuNav">
            <ul class="nav navbar-nav">
              <%= yield( :content_menu ) %>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>   
  </div>

  <div id="MainContent">
    <div class="header">
      <% if content_for?(:content_header) %>
        <%= yield( :content_header ) %>
      <% end %>
    </div>
    
    <%= yield %>
       
    <% if content_for?(:item_content) %>
    
      <div class="content">
        <%= yield( :item_content ) %>
      </div>
    <% end %>

  </div>

  <script id="DataJS">
    <%= yield( :data_js ) %>
  </script>


<div class="footer">
  <div class="collapse" id="collapseWarning">
    <p class="warning content">
      Certains ingrédients comme les huiles essentielles peuvent
      présenter des risques pour la santé si ils sont mal utilisés.
      Les recettes présentes sont fournies par les internautes, leurs usages sont
      sous l'entière responsabilité des utilisateurs.
      Avant toute utilisation d'une recette, 
      vérifier qu'elle soit conforme avec les précautions d'emploi et les contre-indications éventuelles
      qui sont fournies par le fabricant et/ou distributeur des ingrédients. 
      En cas de doute consulter un médecin. 
    </p>
  </div>
  <p class="warning center">
    <a  role="button" data-toggle="collapse" 
    href="#collapseWarning" aria-expanded="false" aria-controls="collapseExample">
      Précautions d'emploi à consulter avant toute utilisation du site
    </a>
     - 
    <%= link_to('Contact', contact_path) %>
  </p>
</div>


</body>
</html>
