<!DOCTYPE html>
<html>
<head>
  <title>IRIS Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="Home">
  <table>
    <tr><td><%= link_to 'Home', root_path %></td></tr>
    <tr><td>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
      <% end %>
    </td></tr>  
  </table> 
</div>

<p>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
</p>

<div id="Menu">
  <table>
    <tr>
      <td><%= link_to 'Types d\'ingrédients', ingredient_types_path %></td> 
      <td><%= link_to 'Types de recettes', recipe_types_path %></td>
    </tr>
    <tr>
      <td><%= link_to 'Liste des ingrédients', ingredients_path %></td>
      <td><%= link_to 'Liste des recettes', recipes_path %></td>
    </tr>
  </table>
</div>

<div id="main">

  <%= yield %>

  <% if content_for?(:title) %>
    <div id="title"><h1><%= yield( :title ) %></h1></div>
  <% end %>

  <% if content_for?(:list) %>
    <div id="list" >
      <%= yield(:list) %>
    </div>
  <% end %>

  <% if (content_for?(:item_title) or content_for?(:item)) %>
    <div id="item" >
      <% if content_for?(:item_title) %>
        <div class="title" >
          <h2><%= yield :item_title %></h2>
        </div>
      <% end %>
      <% if content_for?(:item) %>
        <div class="content" >
          <%= yield :item %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

</body>
</html>
