<!DOCTYPE html>
<html>
<head>
<title>IRIS Project</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width" />
</head>

<body>
  
<div id="Header">
  <div class="main-content">

    <div class="session-menu">
        <% if user_signed_in? %>
          <%= link_to(current_user.name, user_path(current_user)) %>
          <%= link_to('Déconnexion', destroy_user_session_path, 
              :method => :delete) %>
        <%else%>      
          Non connecté
          <%= link_to('Se connecter', new_user_session_path) %>
        <% end %>
    </div>
    
    <div class="title">
      <%= link_to 'IRIS', root_path %>
    </div>
    
    <div class="general-menu">
      <span class="menu-link"><%= link_to 'Ingrédients', ingredients_path %></span>
      <span class="menu-link"><%= link_to 'Recettes', recipes_path %></span>
      <% if user_signed_in? && current_user.admin? %>
        <span class="menu-link"><%= link_to 'Administration', users_path %></span>
      <% end %>
    </div>
    
  </div>	
  
	<div class="message">
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end -%>
	</div>

</div>

<div id="Main">

  <div class="nav-resume">
    <% if content_for?(:nav_resume) %>
      <%= yield( :nav_resume ) %>
    <% end %>
  </div>
  
  <div class="main-content">
    
 
    
    <div class="content-header">
      <% if content_for?(:content_header) %>
        <%= yield( :content_header ) %>
      <% end %>
    </div>
    
    <% if content_for?(:content_menu) %>
      <div class="content-menu"><%= yield( :content_menu ) %></div>
    <% end %>
    
    <%= yield %>
       
    <% if content_for?(:item_content) %>
      <div class="item-content" >
        <%= yield( :item_content ) %>
        </div>
    <% end %>
    
  </div>
</div>

<div id="Footer"></div>

</body>
</html>
