<!DOCTYPE html>
<html>
<head>
<title>IRIS Project</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
<div id="All_Page">
  
<div id="Main_Header">
  <div id="Main_Title">
    <span><%= link_to 'IRIS', root_path %></span>
  </div>
  <div id="Main_Menu">
    > <%= link_to 'Ingrédients', ingredients_path %><br>
    > <%= link_to 'Recettes', recipes_path %>
  </div>

	<div id="Admin_Link">
    	<%= link_to 'Admin', users_path %>
  </div>
    
	<div id="Manage_Session">

			<% if user_signed_in? %>
				<%= current_user.email %><br>
				<%= link_to('Déconnexion', destroy_user_session_path, 
						:method => :delete) %>
			<%else%>			
				Non connecté<br>
				<%= link_to('Se connecter', new_user_session_path) %>
			<% end %>
	</div>
	
	<div id="Message">
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end -%>
	</div>

</div>

<div id="Nav_Resume">
  <% if content_for?(:nav_resume) %>
    <%= yield( :nav_resume ) %>
  <% end %>
</div>

<div id="Main_Content">
  <%= yield %>
  
  <div id="Content_Header">
    <% if content_for?(:content_header) %>
      <%= yield( :content_header ) %>
    <% end %>
  </div>

  <% if content_for?(:content_menu) %>
    <div id="Content_Menu"><%= yield( :content_menu ) %></div>
  <% end %>

  
  <% if content_for?(:resume_list) %>
    <div id="Resume_List" >
      <%= yield(:resume_list) %>
    </div>
  <% end %>
  
  <% if content_for?(:item_content) %>
    <div id="Item_Content" >
      <%= yield( :item_content ) %>
      </div>
  <% end %>
  
</div>

</div>
</body>
</html>
