<!DOCTYPE html>
<html>
<head>
<title>IRIS Project</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "category_table.js" %>
  <%= yield :javascript_includes %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width" />
	<%= favicon_link_tag %>
</head>

<body>
  
<div id="Header">
  <div class="main-content">
    
    <div class="title-and-session row">
    
      <div class="title col-xs-4">
        <%= link_to 'IRIS', root_path %>
      </div>
      
      <div class="session col-xs-8">
        <div class="btn-group" role="group" aria-label="...">
          <% if user_signed_in? %>
            <%= content_tag(:button, current_user.name, {type: :button, class: "btn disabled"}) %>
            <%= link_to(
                  content_tag(:span, nil, class: "glyphicon glyphicon-user"),
                  user_path(current_user), {type: :button, class: "btn btn-default"}) %>
            <%= link_to(
                  content_tag(:span, nil, class: "glyphicon glyphicon-off"),
                  destroy_user_session_path, 
                  {:method => :delete, type: :button, class: "btn btn-default"}) %>
          <%else%>      
            <%= link_to('Se connecter', new_user_session_path, {type: :button, class: "btn btn-default"}) %>
          <% end %>
        </div>
      </div>

    </div>
    
    <div class="general-menu btn-group">
      <%= link_to 'Ingrédients', ingredients_path, {type: :button, class: "btn btn-default"} %>
      <%= link_to 'Recettes', recipes_path, {type: :button, class: "btn btn-default"} %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Administration', admin_users_path, {type: :button, class: "btn btn-default"} %>
      <% end %>
    </div>   

  <div class="nav-resume">
    <ol class="breadcrumb">
      <% if content_for?(:nav_resume) %>
        <li><%= link_to 'Home', root_path %></li>
        <%= yield( :nav_resume ) %>
      <% else %>
        <li class="active">Home</li>
      <% end %>
    </ol>
  </div>

  <% if flash.any? %>
		<% flash.each do |name, msg| %>
  		<% if name == 'alert' %>
  		  <%= content_tag :div, msg, {class: 'alert alert-danger', role: 'alert'} %>
      <% elsif name == 'notice' %>
        <%= content_tag :div, msg, {class: 'alert alert-success', role: 'alert'} %>
      <% else %>
        <%= content_tag :div, name + ":" + msg, {class: 'alert alert-info', role: 'alert'} %>
      <% end %>
		<% end %>
	<%end%>

</div>

<div id="Main">

  <% if content_for?(:content_menu) %>  
    <div class="item-menu">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <%= yield( :content_menu ) %>
        </ul>
     </div>
    </div>
  <% end %>   

    <div class="main-header">
      <% if content_for?(:content_header) %>
        <%= yield( :content_header ) %>
      <% end %>
    </div>
    
    <%= yield %>
       
    <% if content_for?(:item_content) %>
    
      <div class="item-content" >
        <%= yield( :item_content ) %>
        </div>
    <% end %>
    
  </div>
</div>

<div id="Footer"></div>

</body>
</html>
